:root {
  --primary-light: #313237;
  --secondary-light: #89939a;
  --icons-light: #b4bdc4;
  --elements-light: #e2e6e9;
  --hover-light: #fafbfc;
  --bg-light: #fafbfc;

  --secondary-dark: #75767f;
  --icons-dark: #4a4d58;
  --elements-dark: #3b3e4a;
  --surface2-dark: #323542;
  --surface1-dark: #161827;
  --bg-dark: #0f1121;
  --white-dark: #f1f2f9;
  --accent-dark: #905bff;

  --green: #27ae60;
  --red: #eb5757;
}
