@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/colors';

.productsPage {
  margin: 0 auto;
  padding: 16px;
  max-width: 1200px;

  @include onTablet {
    padding: 24px;
  }

  @include onLaptop {
    padding: 32px;
  }

  &__top {
    margin: 0 0 20px;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 32px;

    line-height: 41px;
    letter-spacing: -0.01em;

    color: var(--primary);

    @include onTablet {
      font-size: 48px;
      line-height: 56px;

      letter-spacing: -0.01em;
    }
  }

  &__modal {
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    height: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid var(--primary);

    color: var(--primary);
    text-align: center;
  }

  &__dropdowns {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.spinner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
