.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E2E6E9;
    width: 32px;
    height: 32px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:first-child {
      margin-right: 16px;
      border: 1px solid #B4BDC4;
    }

    &:last-child {
      margin-left: 8px;
      border: 1px solid #B4BDC4;
    }

    &:hover {
      border: 1px solid #313237;
    }

    &--active {
      border: 1px solid #313237;
      background-color: #313237;
    }

    &--disabled {
      filter: brightness(0)
      saturate(100%)
      invert(82%)
      sepia(9%)
      saturate(258%)
      hue-rotate(164deg)
      brightness(92%)
      contrast(86%);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    padding: 7px 12px 4px;
    transition: all 0.2s ease;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    &--active {
      color: #FFFFFF;
    }

    &--prev, &--next {
      padding: 8px;
    }
  }
}
