.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }

    &:first-child {
      margin-right: 16px;
      border: 1px solid #B4BDC4;
    }

    &:last-child {
      margin-left: 8px;
      border: 1px solid #B4BDC4;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 7px 12px 4px;
    width: 32px;
    height: 32px;
    border: 1px solid #E2E6E9;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    &:hover {
      background-color: #FFFFFF;
      border: 1px solid #313237;
    }

    &--active {
      background-color: #313237;
      color: #FFFFFF;
    }
  }
}
