@import '../../styles/mixins';

.details {
  margin-bottom: 60px;

  @include onLaptop {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 40px;

    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    color: var(--primary-light);

    @include onTablet {
      font-size: 32px;

      line-height: 41px;
      letter-spacing: -0.01em;
    }  
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 80px;

    @include onTablet {
      flex-direction: row;
      justify-content: center;
      gap: 75px;
    }

    @include onLaptop {
      justify-content: flex-start;
    }
  }

  &__images {
    @include onLaptop {
      width: 50%;
    }
  }
}
