//$primary-light: #313237;
//$secondary-light: #89939A;
//$icons-light: #B4BDC4;
//$elements-light: #E2E6E9;
//$hover-light: #FAFBFC;
//$bg-light: #FAFBFC;
//
//$secondary-dark: #75767F;
//$icons-dark: #4A4D58;
//$elements-dark: #3B3E4A;
//$surface2-dark: #323542;
//$surface1-dark: #161827;
//$bg-dark: #0F1121;
//$white-dark: #F1F2F9;
//$accent-dark: #905BFF;
//
//$green: #27AE60;
//$red: #EB5757;


:root {
  --primary-light: #313237;
  --secondary-light: #89939A;
  --icons-light: #B4BDC4;
  --elements-light: #E2E6E9;
  --hover-light: #FAFBFC;
  --bg-light: #FAFBFC;

  --secondary-dark: #75767F;
  --icons-dark: #4A4D58;
  --elements-dark: #3B3E4A;
  --surface2-dark: #323542;
  --surface1-dark: #161827;
  --bg-dark: #0F1121;
  --white-dark: #F1F2F9;
  --accent-dark: #905BFF;

  --green: #27AE60;
  --red: #EB5757;
}

.light {
  --bg: var(--bg-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
}

.dark {
  --bg: var(--bg-dark);
  --primary: var(--white-dark);
  --secondary: var(--secondary-dark);
}

