@import "vars";

:root {
  --primary-light: #{$primary-light};
  --secondary-light: #{$secondary-light};
  --icons-light: #{$icons-light};
  --elements-light: #{$elements-light};
  --hover-light: #{$hover-light};
  --bg-light: #{$bg-light};

  --secondary-dark: #{$secondary-dark};
  --icons-dark: #{$icons-dark};
  --elements-dark: #{$elements-dark};
  --surface2-dark: #{$surface2-dark};
  --surface1-dark: #{$surface1-dark};
  --bg-dark: #{$bg-dark};
  --white-dark: #{$white-dark};
  --accent-dark: #{$accent-dark};

  --green: #{$green};
  --red: #{$red};
}

.light {
  --bg: var(--bg-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --theme-switch: var(--icons-light);
}

.dark {
  --bg: var(--bg-dark);
  --primary: var(--white-dark);
  --secondary: var(--secondary-dark);
  --theme-switch: var(--surface2-dark);
}

