@import './vars';

@mixin onMobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin sliderFullScreenParams {
  width: 1136px;
  max-height: 400px;
  display: flex;
  align-items: center;
}

@mixin sliderTabParams {
  width: 100%;
  height: auto;
  aspect-ratio: 2.6 / 1;
}

@mixin sliderMobileParams {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

@mixin sliderControllerParams {
  height: 100px;
  margin: auto 0;
}


