$header-height-s: 48px;
$header-height-l: 64px;
$footer-height-s: 257px;
$footer-height-l: 96px;

$logo-wrapper-width-s: 48px;
$logo-wrapper-width-l: 64px;

$card-width-s: 212px;
$card-width-m: 237px;
$card-width-l: 272px;
