@import '../../styles/scss_utils/mixins';

.main-carousel {
  margin-bottom: 88px;

  @include onTablet {
    margin: 0 24px 96px;
  }

  @include onLaptop {
    margin-bottom: 112px;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--main {
      background-image: url('../../assets/sliderImages/main_banner_sm.png');
    }

    &--second {
      background-image: url('../../assets/sliderImages/second_banner.png');
    }

    &--third {
      background-image: url('../../assets/sliderImages/third_banner.png');
    }

    @include onTablet {
      width: 100%;
      max-width: 1136px;
      height: auto;
      margin: 0 auto;
      aspect-ratio: 2.6 / 1;

      &--main {
        background-image: url('../../assets/sliderImages/main_banner_l.png');
      }
    }

    @include onLaptop {
      max-height: 400px;
    }
  }
}

.carousel {
  max-width: 1136px;
  margin: 0 auto;
  animation: changerOpacity 0.5s ease-in-out;

  &-control-prev {
    height: 100px;
    margin: auto 0;
  }

  &-control-next {
    height: 100px;
    margin: auto 0;
  }
}

@keyframes changerOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
