@import '../../styles/scss_utils/mixins';

.main-carousel {
  margin-bottom: 88px;

  &__video-wrapper {
    background-color: black;
    @include sliderMobileParams;
  }

  &__video {
    display: flex;
    margin: 0 auto;
    width: 70%;
    height: 100%;
  }

  &__image-wrapper {
    background-color: white;
    @include sliderMobileParams;
    padding-top: 50px;

    &--black {
      background-color: black;
      @include sliderMobileParams;
    }
  }

  @include onTablet {
    margin: 0 24px 96px;

    &__video-wrapper {
      @include sliderTabParams;
    }

    &__image-wrapper {
      padding: 30px;
      @include sliderTabParams;

      &--black {
        @include sliderTabParams;
      }
    }
  }

  @include onLaptop {
    margin-bottom: 112px;

    &__video-wrapper {
      width: 1136px;
      max-height: 400px;
      display: flex;
      align-items: flex-end;
    }

    &__video {
      width: 1136px;
      height: 320px;
    }

    &__image-wrapper {
      @include sliderFullScreenParams;

      &--black {
        @include sliderFullScreenParams;
      }

    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--main {
      background-image: url('../../assets/sliderImages/main_banner_sm.png');
    }

    &--second {
      background-image: url('../../assets/second_banner.png');
      background-position: center;
      background-size: contain;
    }

    @include onTablet {
      @include sliderTabParams;
      margin: 0 auto;

      &--main {
        background-image: url('../../assets/sliderImages/main_banner_l.png');
      }
    }

    @include onLaptop {
      max-height: 400px;
    }
  }
}

.carousel {
  max-width: 1136px;
  margin: 0 auto;
  animation: changerOpacity 0.5s ease-in-out;

  &-control-prev {
    @include sliderControllerParams;
  }

  &-control-next {
    @include sliderControllerParams;
  }
}

@keyframes changerOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
