@import '../../styles/scss_utils/vars';
@import '../../styles/_reset';
@import '../../styles/mixins';

.checkout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;

  padding: 24px;
  width: 288px;
  height: 185px;
  margin: 0 auto;

  border: 1px solid var(--elements);
}

.total {
  font-size: 32px;
  line-height: 41px;
  color: var(--primary);
}

.totalItems {
  text-align: center;

  font-size: 14px;
  line-height: 21px;
  padding-bottom: 15px;

  color: var(--secondary);
  border-bottom: 1px solid var(--elements);
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  padding: 0;

  font-size: 14px;
  line-height: 16;
  font-weight: 700;
  color: white;

  background: var(--hover);
  border: 1px solid var(--hover);

  overflow: hidden;

  text-transform: uppercase;

  &:hover {
    color: var(--white);
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    background: var(--hover-accent);
  }
}

@include onTablet {
  .checkout {
    width: 100%;
  }
}

@include onLaptop {
  .checkout {
    width: 360px;
  }
}
