@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/vars';

.favouritesPage {
  margin: 0 auto;
  padding: 16px;
  max-width: 1200px;
  height: calc(100vh - $footer-height-l - $header-height-l);

  @include onTablet {
    padding: 24px;
  }

  @include onLaptop {
    padding: 32px;
  }
}
