@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/colors';

.category {
  min-height: 100%;
  width: 100%;
  margin-bottom: 25px;

  &__image {
    width: 100%;
    height: 100%;

    transition: transform 0.3s;

    @include onTablet {
      &:hover {
        transform: scale(1.05);
        border-radius: 5px;
      }
    }
  }

  &__box {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: $primary-light;
  }

  &__count {
    margin: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: $secondary-light;
  }

  &__link {
    text-decoration: none;
  }
}
