.category {
  min-height: 100%;
  width: 100%;

  &__image {
    height: 288px;
    width: 288px;

    @media (min-width: 639px) {
      height: 200px;
      width: 200px;
    }

    @media (min-width: 1200px) {
      height: 365px;
      width: 365px;
    }
  }

  &__box {
    height: 288px;
    width: 288px;
    margin-bottom: 24px;

    @media (min-width: 639px) {
      height: 200px;
      width: 200px;
    }

    @media (min-width: 1200px) {
      height: 365px;
      width: 365px;
    }
  }

  &__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    color: #313237;
  }

  &__count {
    margin: 0;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #89939a;
  }

  &__link {
    text-decoration: none;
  }
}
