@import '../../../styles/scss_utils/colors';

.color__button {
  height: 30px;
  width: 30px;

  border: 2px solid var(--bg);
  border-radius: 36px;
  outline: 1px solid var(--elements);

  cursor: pointer;

  &:hover {
    outline-color: var(--color-btn);
  }

  &--active {
    outline-color: var(--primary);
  }
}
