.top-actions {
  border-bottom: 1px solid #e2e6e9;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-left: 16px;
  }

  &__cross {
    height: 48px;
    width: 48px;
    background-color: #fff;
    background-image: url('./Cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-left: 1px solid #e2e6e9;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu {
  &__list {
    text-align: center;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #89939a;

    &:hover {
      color: #313237;
    }
  }

  &__footer {
    border-top: 1px solid #e2e6e9;

    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    position: fixed;
    bottom: 0;

    &--button {
      border: none;
      background-color: #fff;
      width: 50%;

      &--heart {
        border-right: 1px solid #e2e6e9;
        background-image: url('./Heart.svg');
        background-repeat: no-repeat;
        background-position: center;
      }

      &--card {
        background-image: url('./ShoppingBag.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
