@import '../../styles/mixins';

.cart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  @include onLaptop {
    flex-direction: row;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
