@import '../../styles/mixins';

.cart-container {
  display: flex;
  flex-direction: column;

  padding: 16px;
  gap: 16px;
}

.cards-container {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

@include onTablet {
  .cart-container {
    display: flex;
    flex-direction: column;

    padding: 24px;
    gap: 16px;
    margin: 0 auto;
  }
}

@include onLaptop {
  .cart-container {
    display: flex;
    flex-direction: row;
  
    padding: 32px;
    gap: 16px;
    margin: 0 auto;
  }
}
