@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/vars';

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include onLaptop {
    flex-direction: row;
    justify-content: flex-end;
    max-width: 1136px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
