@import '../../styles/scss_utils/vars';

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: none;
    background-color: $primary-light;
    color: $white;

    &:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &--is-selected {
      color: $green;
      background-color: transparent;
      border: 1px solid $elements-light;
    }
  
    &.custom-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      transition: background 0.3s ease;
  
      &.add {
        background-color: $secondary-light;
        color: $white;
  
        &--clicked {
          background-color: $bg-light;
        }
      }
    }
}