@import '../../styles/scss_utils/mixins';

.add-to-cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: var(--hover);
    color: var(--white);

    &:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
      background-color: var(--hover-accent);
    }
  font-size: 12px;

  @include onTablet {
    font-size: 14px;
  }

  &:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
  }

  &--is-selected {
    color: var(--selected);
    background-color: var(--item-hover2);
    border: 1px solid var(--border-3);

    &:hover {
      background-color: var(--bg);
    }
  }
}
