@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 var(--elements);

  &__left-side {
    display: flex;
    align-items: center;

    & > :last-child {
      display: none;

      @include onTablet {
        margin-left: 32px;
        display: flex;
      }

      @include onLaptop {
        margin-left: 48px;
      }
    }
  }

  &__right-side {
    display: flex;

    & > :not(:last-child) {
      display: none;

      @include onTablet {
        display: flex;
      }
    }

    & > :last-child {
      @include onTablet {
        display: none;
      }
    }
  }

  &__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: $logo-wrapper-width-s;
    height: $header-height-s;

    background-color: var(--bg);
    box-shadow: -1px 0px 0px var(--elements);

    border: none;

      &__user-photo {
        width: 20px;
        height: 20px;
        border-radius: 50%;

        @include onLaptop {
          width: 30px;
          height: 30px;
        }
      }

      &__auth-button {
        padding: 13px;
        border: none;
        background-color: var(--bg);

        @include onLaptop {
          padding: 17px;
        }
      }

    @include onLaptop {
      width: $logo-wrapper-width-l;
      height: $header-height-l;
    }

    & > :not(:last-child) {
      padding: 16px;

      @include onLaptop {
        padding: 24px;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    &--main-logo {
      width: 64px;
      height: 22px;
      margin-left: 16px;

      @include onLaptop {
        width: 80px;
        height: 26.5px;
        margin-left: 24px;
      }
    }
  }

  &__count {
    position: absolute;
    bottom: 50%;
    left: 50%;
    height: 15px;
    width: 15px;

    text-align: center;
    font-size: 9px;
    color: var(--white);

    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: var(--red);
  }
}
