@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/vars';

.descope {
  width: 50vh;
}

.auth {
  width: max-content;
  padding: 15px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  margin: 10px;

  :not(:last-child) {
    margin-bottom: 10px;
  }

  &-loading {
    color: #555;
    font-size: 16px;
    margin: 10px;
  }

  &-greeting {
    font-size: 18px;
    margin-bottom: 10px;
  }

  &-user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
  }

  &-logout-button {
    background-color: #f44336;
    color: var(--white);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s;


    &:hover {
      transform: scale(1.1);
    }
  }

  &__orders {
    color: var(--primary);
    text-decoration: none;
    font-weight: 800;

    &:hover {
      color: var(--primary);
    }
  }
}
