@import '../../styles/scss_utils/mixins';

.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--elements);

  &__logo {
    margin-left: 16px;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--elements);
    height: 48px;
    width: 48px;
  }

  &__cross {
    height: 48px;
    width: 48px;

    background-color: var(--bg);
    background-image: url('../../assets/logos/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-left: 1px solid var(--elements);

    &:hover {
      cursor: pointer;
    }

    &--dark {
      background-image: url('../../assets/logos/Cross-dark.svg');
    }
  }
}

.menu {
  background-color: var(--bg);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 2;

    &-open {
      transform: translateX(0%);
      transition: transform 0.3s;
      overflow: hidden;
      z-index: 3;
    }

  &__list {
    margin-top: 24px;

    text-align: center;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    padding-bottom: 2px;

    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--secondary);

    &:hover {
      color: var(--primary);
    }
  }

  &__footer {
    border-top: 1px solid var(--elements);

    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    position: fixed;
    bottom: 0;

    &--button {
      width: 50%;

      border: none;
      background-color: var(--bg);

      &--heart {
        background-image: url('../../assets/logos/heart_icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        border-right: 1px solid var(--elements);

        &--dark {
          background-image: url('../../assets/logos/heart_icon_dark.svg');
        }
      }

      &--card {
        background-image: url('../../assets/logos/cart_icon.svg');
        background-position: center;
        background-repeat: no-repeat;

        &--dark {
          background-image: url('../../assets/logos/cart_icon_dark.svg');
        }
      }
    }
  }
}

.isActive {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}
