@import '../../styles/scss_utils/mixins';
@import '../../styles/scss_utils/vars';

.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid $elements-light;

  &__logo {
    margin-left: 16px;
  }

  &__cross {
    height: 48px;
    width: 48px;

    background-color: $white;
    background-image: url('../../assets/logos/Cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-left: 1px solid $white;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu {
  background-color: $white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 2;

    &-open {
      transform: translateX(0%);
      transition: transform 0.3s;
      overflow: hidden;
      z-index: 2;
    }

  &__list {
    margin-top: 24px;

    text-align: center;
    list-style: none;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__link {
    padding-bottom: 2px;

    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: $secondary-light;
  }

  &__footer {
    border-top: 1px solid $elements-light;

    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 64px;
    position: fixed;
    bottom: 0;

    &--button {
      width: 50%;

      border: none;
      background-color: $white;

      &--heart {
        background-image: url('../../assets/logos/heart_icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        border-right: 1px solid $elements-light;
      }

      &--card {
        background-image: url('../../assets/logos/cart_icon.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.isActive {
  color: $primary-light;
  border-bottom: 2px solid $primary-light;
}
