@import '../../styles/mixins';
@import '../../styles/_reset';

.cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 288px;
  height: 164px;
  gap: 16px;
  margin: 0 auto; 

  border: 1px black solid;
  padding: 16px;

  &__deleteButton {
    width: max-content;
    
    background-color: transparent;
    border: none;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.delete {
  margin-right: 20px;
}

.phone-card__image {
  height: 60px;
  margin-right: 16px;
}

.phone-card__description {
  width: 128px;
  height: max-content;
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.counter {
  display: flex;
  align-items: center;
  text-align: center;

  gap: 14px;
}

.count {
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
}

.count:hover {
  cursor: pointer;
}

@include onTablet {
  .cart {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
    width: 590px;
    height: 120px;
    padding: 24px;
    gap: 24px;
  
    border: 1px black solid;
  }

  .cart:last-child {
    margin-bottom: 32px;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .phone-card__description {
    width: 170px;
  }

  .price_container {
    display: flex;
    align-items: center;
  
    gap: 55px;
  }
}

@include onLaptop {
  .cart {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
    width: 750px;
    height: 80px;
    gap: 24px;
    padding: 24px;
  
    border: 1px black solid;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .delete {
    margin-right: 35px;
  }
  
  .phone-card__image {
    margin-right: 32px;
  }
  
  .phone-card__description {
    width: 250px;
  }
}