@import '../../styles/mixins';
@import '../../styles/_reset';
@import '../../styles/scss_utils/vars';

.cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 164px;
  gap: 16px;
  padding: 16px;
  
  border: 1px solid var(--elements);

  @include onTablet {
    flex-direction: row;
    height: 120px;

    padding: 24px;
    gap: 24px;
  
    &:last-child {
      margin-bottom: 20px;
    }
  }

  @include onLaptop {
      width: 750px;
      height: 80px;
  }

  &__deleteButton {
    width: max-content;

    background-color: transparent;
    border: none;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    width: 100px;

    font-weight: 800;
    font-size: 22px;
    line-height: 140%;

    color: var(--primary);
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.delete {
  margin-right: 20px;

  @include onLaptop {
    margin-right: 35px;
  }
}

.phone-card__image {
  height: 60px;
  margin-right: 16px;

  @include onLaptop {
    margin-right: 32px;
  }
}

.phone-card__description {
  font-family: 'Mont', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  margin: 0;
}

.price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.counter {
  display: flex;
  align-items: center;
  text-align: center;

  gap: 14px;
}

.count {
  width: 32px;
  height: 32px;

  color: var(--primary);
  background-color: var(--item-hover2);
  border: 1px solid var(--border-2);

  &--disabled {
    background-color: var(--bg);
  }
}
