.cart {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 80px;
    border: 1px black solid;
    padding: 30px 24px;
}

.icon {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
}

.phone-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.price_container {
    display: flex;
    align-items: center;
    gap: 55px;
}

.counter {
    display: flex;
    gap: 14px;
}
