.path {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  gap: 8px;

  &__link {
    font-family: 'Mont', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    color: var(--primary);
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }

    &--disabled {
      color: var(--secondary);
    }
  }
}
