@import '../../styles/mixins';

.image-wrapper {
  margin: 0 auto;
  width: max-content;
  border: none;
  background-color: transparent;

  &__image {
    height: 240px;
    width: 100%;
    object-fit: contain;

    @include onTablet {
      width: 270px;
      height: 270px;
    }

    @include onLaptop {
      height: 440px;
      width: 440px;
    }
  }
}
