$secondary-color: #89939A;
$primary-color: #313237;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$white-color: #FFFFFF;
$hover-color: #FAFBFC;
$bg-color: #FAFBFC;
$green-color: #27AE60;
$red-color: #EB5757;
