@import './styles/scss_utils/mixins';
@import './styles/scss_utils/vars';
@import "./styles/normalize";

.app {

  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  height: 100%;
}
