@import './styles/scss_utils/mixins';

.App {
  height: 100vh;
}

.page {
  padding: 25px 22px;

  @include onTablet {
    padding: 25px 25px;
  }

  @include onLaptop {
    padding: 25px 153px;
  }
}
