.footer {
  box-sizing: border-box;
  border: 1px solid #e2e6e9;
  height: 98px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-back {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #89939a;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &_link {
      background-image: url('../arrow/arrow.svg');
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      margin: 16px;
      border: 1px solid #b4bdc3;
      width: 32px;
      height: 32px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-nav {
    width: 25%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    &_link {
      color: #89939a;
      font-weight: 800;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
