@import '../abstracts/colors';

body {
  padding: 0;
  margin: 0;
}

.light, .dark {
  color: var(--primary);
  background-color: var(--bg);
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


